<div class="footer" id="5">
    <div class="nav mt-5">
        <div class="row w-100 justify-content-between mt-4">
            <div class="col-md-6 center">
                <img src="/assets/logo-mtss-tradicional.png" width="64px"/>
            </div>
            <div class="col-md-6 d-none d-md-block d-flex justify-content-end">
                <ul class="navbar-nav justify-content-end" style="flex-direction: row">
                    <li class="nav-item ms-2">
                        <a class="nav-link" href="#1">Evento</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link" href="#2">Diferenciais</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link" routerLink="/programacao">Programação</a>
                    </li>
                    <!-- <li class="nav-item ms-5">
                        <a class="nav-link" href="#3">Palestrantes</a>
                    </li> -->
                    <li class="nav-item ms-2">
                        <a class="nav-link" routerLink="/perguntas-frequentes">Perguntas Frequentes</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link" href="#5">Contato</a>
                    </li>
                    </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="d-flex justify-content-between w-100">
            <p class="center">WTM | Mulher Tech Sim Senhor © 2025 | João Pessoa, Paraíba, Brasil | 15 de março</p>
            <div class="d-none d-md-block">
                <a href="https://www.facebook.com/wtmjp/" target="__blank">
                  <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/mulhertechsimsr/" target="__blank">
                  <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/mulher-tech-sim-senhor/" target="__blank">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://open.spotify.com/playlist/1uE56UMEpZ4rAEV7paMPyx?si=304d78a579884afc&nd=1&flow_ctx=9a92c775-709f-4afd-ab78-d3b4f59b014c%3A1700100257&creation_point=https%3A%2F%2Fopen.spotify.com%2Fplaylist%2F1uE56UMEpZ4rAEV7paMPyx" target="__blank">
                  <i class="fa-brands fa-spotify"></i>
                </a>

            </div>
        </div>
    </div>
</div>