<div class="wtm">
    <div>
        <div class="none">
            <img src="assets/iwd.png" alt="Mulheres Tech Simsr" width="100%">
        </div> 
        <div class="visible">
            <img src="assets/iwd_mobile.png" alt="Mulheres Tech Simsr" width="100%">
        </div> 
        <div class="container mt-3">
            <h1> International Women’s Day</h1>
            <p>O Mulher Tech Sim Senhor é um evento oficial do programa Women Techmakers, iniciativa global do Google que visa empoderar mulheres na tecnologia por meio de visibilidade, comunidade e recursos. Todos os anos o Women Techmakers possui uma campanha global, o International Women’s Day. Durante essa campanha todas as comunidades realizam eventos e encontros. Neste ano, a campanha do IWD traz a reflexão: Por que "Redefine Possible"?</p>
            <p>Em um mundo cada vez mais digitalizado, a inteligência artificial está transformando o que acreditamos ser possível. Mas quem está por trás dessa revolução? Acreditamos que as mulheres têm um papel essencial nessa construção. Ao desafiar os limites da tecnologia, podemos moldar um futuro onde a IA seja uma força para o bem, impulsionando a equidade e ampliando oportunidades.</p>
            <p>Nosso evento tem como missão:</p>
            <p>🔹 Celebrar os feitos das mulheres – Destacar e reconhecer aquelas que estão inovando e impactando o cenário tecnológico.</p>
            <p>🔹 Inspirar a próxima geração – Incentivar meninas e jovens mulheres a explorarem carreiras em STEM (Ciência, Tecnologia, Engenharia e Matemática).</p>
            <p>🔹 Promover a igualdade de gênero – Discutir desafios e oportunidades para as mulheres na era da inteligência artificial.</p>
            <p>🔹 Construir um futuro mais justo – Explorar como a tecnologia e a IA podem ser usadas para resolver problemas sociais e promover a sustentabilidade.</p>
            <p>Junte-se a nós para redefinir o possível e construir um futuro mais diverso, inclusivo e inovador! 🚀💡</p>
        </div>
        <div class="button">
            <a class="btn secondary" routerLink="/programacao">Ver programação completa</a>
        </div>
    </div>   
    
</div>
