
<div class="mosaico">
    <div class="container">
        <div class="content">
            <div class="img">
                <img src="assets/logo-mtss-edicao.svg" alt="logo" class="logo">
            </div>
            <div class="text">
                <h1 class="title">Mulher Tech <strong>Sim Senhor</strong></h1>
                <h2 class="subtitle">É hora de celebrar <strong>10 anos</strong> do evento que se tornou o maior encontro de mulheres de tecnologia do Brasil!</h2>
                <p>15 de março de 2024 em João Pessoa, Paraíba</p>
            </div>
            <div class="button">
                <a class="btn primary" href="">Garantir meu ingresso</a>
                <a class="btn secondary" (click)="enviarEmail()">Apoiar o evento</a>
            </div>
        </div>
    </div>
</div>
