.mosaico{
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/mosaico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 64px);
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img img{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.text{
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    text-align: center;
    width: 70%;
    margin-bottom: 20px;

    .title{
        font-size: 48px;
        font-weight: 600;
        color: #b41a59;
        margin: 0;
        margin-bottom: 15px;
        text-shadow: 
        1px 1px 0 white,   /* Sombra inferior direita */
        -1px 1px 0 white,  /* Sombra inferior esquerda */
        1px -1px 0 white,  /* Sombra superior direita */
        -1px -1px 0 white; /* Sombra superior esquerda */
        strong{
            color: #FFFFFF;
            text-shadow: 
            1px 1px 0 #b41a59,   /* Sombra inferior direita */
            -1px 1px 0 #b41a59,  /* Sombra inferior esquerda */
            1px -1px 0 #b41a59,  /* Sombra superior direita */
            -1px -1px 0 #b41a59;
        }
    }

    .subtitle{
        color: #0d3c89;
        font-weight: 600;
        margin: 0px;
        margin-bottom: 20px;
        // text-shadow: 
        //     1px 1px 0 #b41a59,   /* Sombra inferior direita */
        //     -1px 1px 0 #b41a59,  /* Sombra inferior esquerda */
        //     1px -1px 0 #b41a59,  /* Sombra superior direita */
        //     -1px -1px 0 #b41a59;
        strong{
            color: #b41a59;
            text-shadow: 
            1px 1px 0 white,   /* Sombra inferior direita */
            -1px 1px 0 white,  /* Sombra inferior esquerda */
            1px -1px 0 white,  /* Sombra superior direita */
            -1px -1px 0 white;
        }
    }

    p{
        font-size: 28px;
        font-weight: 700;
        margin: 0px;
        color: #b41a59;
        text-shadow: 
            1px 1px 0 white,   /* Sombra inferior direita */
            -1px 1px 0 white,  /* Sombra inferior esquerda */
            1px -1px 0 white,  /* Sombra superior direita */
            -1px -1px 0 white;
    }
}

.button{
    display: flex;
    gap: 16px;
}

a.btn{
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
}

.primary{
    background-color: #b41a59;
    color: #FFFFFF;
}

.secondary{
    border: 1px solid #b41a59;
    background-color: #FFFFFF;
    color: #b41a59;
}

@media only screen and (max-width: 480px) {
    .container{
       justify-content: center; 
       height: 100%;
    }
    .content{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        
    }
    .img img{
        width: 125px;
        height: 125px;
        margin-bottom: 15px;
    }
    .text{
        width: 100%;
        margin-bottom: 15px;
        .title{
            margin-bottom: 10px;
            font-size: 28px;
        }
        .subtitle{
            font-size: 14px;
            margin-bottom: 15px;
        }
        p{
            font-size: 16px;
        }
    }
    .button{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        a.btn{
            text-align: center;
        }
    }
}