<div class="patrocinio" style="max-width:100%; overflow-x:hidden;">
    <div class="clientes">
        <div class="cliente"><img src="assets/patrocinio/minsait.svg" width="100%"></div>
        <div class="cliente"><img src="assets/patrocinio/vsoft.svg" width="100%"></div>  
        <div class="cliente"><img src="assets/patrocinio/alura.svg" width="100%"></div>  
        <div class="cliente"><img src="assets/patrocinio/vbi.svg" width="90%"></div>  
        <div class="cliente"><img src="assets/patrocinio/guocb.svg" width="80%"></div> 
        <div class="cliente"><img src="assets/patrocinio/globo.svg" width="100%"></div>
        <div class="cliente"><img src="assets/patrocinio/phoebus.svg" width="100%"></div> 
        
        <!-- DUPLICAÇÃO PARA CONTINUIDADE -->
        <div class="cliente"><img src="assets/patrocinio/minsait.svg" width="100%"></div>
        <div class="cliente"><img src="assets/patrocinio/vsoft.svg" width="100%"></div>  
        <div class="cliente"><img src="assets/patrocinio/alura.svg" width="100%"></div>  
        <div class="cliente"><img src="assets/patrocinio/vbi.svg" width="90%"></div>  
        <div class="cliente"><img src="assets/patrocinio/guocb.svg" width="80%"></div> 
        <div class="cliente"><img src="assets/patrocinio/globo.svg" width="100%"></div>
        <div class="cliente"><img src="assets/patrocinio/phoebus.svg" width="100%"></div>   
    </div>
</div>

