<div class="background container mt-5" id="2">
    <h1>Confira nossos diferenciais</h1>
    <div class="diferenciais-itens row d-flex justify-content-center">
        <div class="col-md-3">
            <i class="fa-solid fa-utensils"></i>
            <p><strong>Alimentação inclusiva</strong></p>
            <p>As participantes recebem alimentação completa durante o evento, com opções inclusive para dietas restritivas</p>
        </div>
        <div class="col-md-3">
            <i class="fa-solid fa-child"></i>
            <p><strong>Espaço kids</strong></p>
            <p>Oferecemos um espaço kids com educadora para que as mães possam deixar suas crianças durante o evento</p>
        </div>
        <div class="col-md-3">
            <i class="fa-solid fa-hands-asl-interpreting"></i>
            <p><strong>Intérprete em libras</strong></p>
            <p>Há interpretes de libras para apoiar PCDs durante todas as atividades realizadas no evento</p>
        </div>
        <div class="col-md-3">
            <i class="fa-solid fa-people-group"></i>
            <p><strong>Networking exclusivo</strong></p>
            <p>Criamos um ambiente acolhedor e propício para conexões profissionais e mentorias personalizadas.</p>
        </div>
    </div>
</div>
