<div class="container mt-5">
    <div class="row d-flex justify-content-center">
    <h1 class="mb-5"> Perguntas frequentes </h1>
    <div class="col-md-8 col-sm-11">
        <div class="accordion" id="accordionFAQ">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                Onde posso obter mais informações sobre o evento?
            </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Em nosso site (https://www.mulhertechsimsr.com.br/) e também em nossas redes sociais (Instagram, Facebook e LinkedIn)
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Qual o valor da inscrição?
            </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Teremos preços progressivos de R$ 55,00 a R$ 100,00. Sempre que um lote acabar, outro será iniciado.  
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Quem pode se inscrever?
            </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                O evento é restrito para mulheres (cis, trans e travestis).
            </div>
            </div>
        </div>
        <!-- <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Há algum benefício para caravanas?
            </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Se for para o evento com um grupo, informe o nome dele (Ex: Caravana - Cidade X) na inscrição. As caravanas vão receber um kit especial no dia do evento.
            </div>
            </div>
        </div> -->
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                O que a inscrição inclui?
            </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Além de garantir acesso a toda a programação do evento e a um kit participante com vários mimos, a inscrição também garante alimentação durante todo o evento, intérprete de libras e Espaço Kids para as mães que desejarem deixar seus filhos.
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                Como posso pagar minha inscrição?
            </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Usando pix, boleto ou cartão.  
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                Existe inscrição social ou gratuita?
            </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Não queremos deixar ninguém de fora do evento! Caso você não possa pagar, entre em contato com a organização pelo e-mail mulhertechsimsr&#64;gmail.com e daremos um jeito.
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                Posso transferir o ingresso?
            </button>
            </h2>
            <div id="collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Caso queira transferir o ingresso para outra mulher participar, é possível via a ferramenta eventbrite, porém, apenas os ingressos adquiridos a partir do 3º lote. Obs.: Cobrança de taxa de transferência no valor de R$ 2,00, via ferramenta.  
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                Até quando posso solicitar reembolso?
            </button>
            </h2>
            <div id="collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                As solicitações de reembolso serão atendidas até 07 dias antes do evento.  
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                Pagamento via PIX
                </button>
            </h2>
            <div id="collapse11" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                O pagamento por PIX pode ser realizado, conforme os dados a seguir: Titular da conta: Mariana Monteiro Linhares PIX/Email: mlinharesm&#64;gmail.com 335 - Banco Digio S.A Gentileza, enviar comprovante para o e-mail mulhertechsimsr&#64;gmail.com, colocando o assunto como "Pagamento de Inscrição".O pagamento por PIX pode ser realizado, conforme os dados a seguir: Titular da conta: Mariana Monteiro Linhares PIX/Email: mlinharesm&#64;gmail.com 335 - Banco Digio S.A Gentileza, enviar comprovante para o e-mail mulhertechsimsr&#64;gmail.com, colocando o assunto como "Pagamento de Inscrição".</div>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>