.background {
    background-color: #00A395;
    margin-top: 70px;
}

p {
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    color: white;
    font-weight: 500;
}

h2{
    font-family: "Inter", sans-serif;
    color: #B41A59;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

iframe{
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.container{
    padding-top: 60px;
    padding-bottom: 60px;
}

@media only screen and (max-width: 480px) {
    iframe{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .col-md-6{
        justify-content: center;
        margin-top: 20px;
    }

    h1{
        font-size: 30px;
    }
}

.button{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 20px;
}

a.btn{
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
}

.secondary{
    border: 1px solid #b41a59;
    background-color: #FFFFFF;
    color: #b41a59;
}