<div class="background" id="1">
    <div class="container"> 
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Palestras</h2>
                        <p>Conte com a presença de grandes especialistas compartilhando conhecimento sobre tecnologia, inovação e carreira no setor.</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Mentorias</h2>
                        <p>Tenha acesso a mentorias individuais e coletivas com profissionais experientes para impulsionar sua jornada na tecnologia.</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Code Game</h2>
                        <p>Desafie suas habilidades com programações interativas e gamificadas, desenvolvidas para testar e aprimorar seu conhecimento.</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Stands</h2>
                        <p>Explore stands de empresas inovadoras, descubra oportunidades de carreira e conheça as últimas tendências do mercado.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <iframe 
                    src="https://www.youtube.com/embed/e9d8yIRzOyg" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
